.App{
  min-height: 100vh;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 100px;
}

.buttons {
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 50px;
}

.firstButton {
  background-color: white;
  color: black;
}

.secondButton {
  background-color: black;
  color: white;
}

.piano {
  display: flex;
  align-items: center;
  margin-left: 170px;
}

.title{
  background: rgb(49,207,209);
  background: linear-gradient(0deg, rgba(49,207,209,0) 0%, rgba(0,0,0,1) 80%);
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name{
  font-family: 'Dancing Script', cursive;
  font-size: 100px;
  color: white;
}


